{
  "openapi": "3.0.1",
  "info": {
    "title": "Servicecheck Falcon API",
    "description": "Servicecheck Falcon API used to create Falcon 2.0 application",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://noifarm.davide.eu.org"
    }
  ],
  "paths": {
    "/2a2p/v3a3r.html": {
      "get": {
        "description": "Lista variabili. Da richiamare all’avvio dell’app per richiedere la configurazione remota del server. La richiesta restituisce valori diversi a seconda se sia o meno autenticata dal token di sessione.",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/varGlobal"
                }
              }
            }
          },
          "400": {
            "description": "Required data is missing - AuthKey / Not a valid request - AuthKey / Required data is missing - ServiceID / Invalid ServiceID /No Record Found"
          }
        }
      }
    },
    "/2a2p/login.html": {
      "post": {
        "description": "Login",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "description": "email",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "codice",
            "description": "codice per accedere",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "app_version",
            "description": "versione dell'app espresso come platform-version (ios-1.0 o android-1.0)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/loginData"
                }
              }
            }
          },
          "400": {
            "description": "Required data is missing - AuthKey / Not a valid request - AuthKey / Required data is missing - ServiceID / Invalid ServiceID /No Record Found          "
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "varGlobal": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/dataS"
          }
        }
      },
      "loginData": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/dataLogin"
          }
        }
      },
      "dataS": {
        "type": "object",
        "properties": {
          "product_page": {
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "register_page": {
            "type": "string",
            "format": "string",
            "example": "/iscrizione"
          },
          "trolleys_max": {
            "type": "integer",
            "format": "int64",
            "example": 4
          },
          "tk": {
            "type": "string",
            "format": "string",
            "example": "7b9c49511bbab8689e8e4ac35e2a3172179e33866cd5c7eb"
          },
          "website": {
            "type": "string",
            "example": "https://www.noiapp.it"
          },
          "website_label": {
            "type": "string",
            "format": "string",
            "example": "Zio pino web"
          }
        }
      },
      "dataLogin": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "example": "PGdo93eknldfnskfnsf"
          },
          "lifetime": {
            "type": "string",
            "format": "string",
            "example": "durata sessione in secondi"
          },
          "first_login": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "privacy": {
            "type": "integer",
            "example": 0
          },
          "first_name": {
            "type": "string",
            "format": "string",
            "example": "nome"
          },
          "last_name": {
            "type": "string",
            "format": "string",
            "example": "cognome"
          },
          "avatar": {
            "type": "string",
            "format": "string",
            "example": "NC"
          },
          "token": {
            "type": "string",
            "format": "int64",
            "example": "token per effettuare logout"
          }
        }
      }
    }
  }
}